<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Editar Post</h1>
<form action="/post" method="POST">
    <input type="hidden" name="id" th:value="${post.id}">

    <input name="title" th:text="${post.title}" id="title">

    <textarea name="text" th:text="${post.text}" id="text" cols="30" rows="10">
    </textarea>
    <select name="postCategory" id="postCategory">
        <option th:each="postCategory : ${postCategories}"
                th:value="${postCategory.id}"
                th:text="${postCategory.name}"
                th:selected="(${postCategory.id} == ${post.postCategory.id})"></option>
    </select>

    <select name="user" id="user">
        <option th:each="user : ${users}"
                th:value="${user.id}"
                th:text="${user.name}"
                th:selected="(${user.id} == ${post.user.id})"></option>
    </select>
    <br>
    <input type="submit" value="Guardar"></input>
</form>

</body>
</html>