<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/newPost">Nuevo Post</a><br>
    <a href="/">Pagina Principal</a>
    <h1>Posts</h1>
    <table>
        <tr>
            <th>
                Id
            </th>
            <th>
                Post
            </th>
            <th>
                Categoria
            </th>
            <th>
                Opciones
            </th>
        </tr>
        <tr th:each="post : ${postList}">
            <td th:text="${post.id}">
            </td>
            <td th:text="${post.title}">
            </td>
            <td th:text="${post.postCategory.name}">
            </td>
            <td th:text="${post.user.name}">
            </td>

            <td>
                <a th:href="${'/post/' + post.id}">Ver</a>
                <a th:href="${'/editPost/' + post.id}">Editar</a>
                <a th:href="${'/deletePost/' + post.id}">Eliminar</a>
            </td>
        </tr>

    </table>

</body>
</html>