<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
<h1>Pagina Principal</h1>
    <div th:each="post : ${postList}">
        <b>Id:</b> <p th:text="${post.id}"></p>
        <b>Titulo</b><p th:text="${post.title}"></p>
        <b>Texto:</b> <p th:text="${post.text}"></p>
        <b>Categoria:</b> <p th:text="${post.postCategory.name}"></p>
        <b>Autor:</b> <p th:text="${post.user.name}"></p>
        <b>Fecha Creacion:</b><p th:text="${post.creationDate}"></p>
        <b>Likes:</b>  <p th:text="${post.likes}"></p>


        <b>Comentarios:</b>
        <div th:each="comment : ${post.comments}" >
            <span th:text="${comment.text}"></span>
            <b>Likes de comentarios:</b><p th:text="${comment.likes}">  </p>
            <b>fecha del comentario:</b><span type= "date" class="form-control" th:text="${comment.date}"/></span>

        </div><br>

    </div>

<br><br><a href="/posts">Administrar Posts</a>

</body>
</html>